<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/materialize/css/materialize.css"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="/materialize.min.css"  media="screen,projection"/>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div id="tela">
        <div class="container">
        <h3>Spring Boot + Thymeleaf + Material Design Lite</h3><br/>
        <div class="row">
            <h5 class="col s4">Cadastro de Pessoas:</h5>
        </div>
        <br/>
        <div class="row">
        <div th:each="m : ${msg}">
                <span class="btn red col-s2 offset-s1" th:text="${m}"></span>
        </div>
        </div>
        <br/>
        <form id="formpessoa" class="row" action="salvarpessoa" method="post">
            <div class="row">
                <div class="input-field col s3">
                    <label for="id" class="active">ID:</label>
                    <input id="id" name="id" type="text" readonly="readonly" th:value="${pessoaobj.id}">

                 </div>
                <div class="input-field col s3">
                    <label for="nome" class="active">Nome:</label>
                    <input id="nome" name="nome" type="text" class="validate" th:value="${pessoaobj.nome}">

                </div>
                <div class="input-field col s3">
                    <input id="sobrenome" name="sobrenome" type="text" class="validate" th:value="${pessoaobj.sobrenome}">
                    <label for="sobrenome">Sobrenome:</label>
                </div>
                <div class="input-field col s3">
                    <input id="idade" name="idade" type="text" class="validate" th:value="${pessoaobj.idade}">
                    <label for="idade">Idade:</label>
                </div>
            </div>


                <button class="waves-effect waves-light btn col s1 offset-s4 indigo darken-1" type="submit" value="Salvar">Salvar</button>
                <button class="waves-effect waves-light btn col s1 offset-s1 indigo darken-1" type="submit" value="Reset" onclick="document.getElementById('formpessoa').reset();">Reset</button>

        </form>
        <div class="row">


        </div>
        <form class="row" action="pesquisapessoa" method="post">
            <div class="row">
            <div class="input-field col s4 offset-s4">
                <input name="nomepesquisa" type="text" class="validate" th:value="${pessoaobj.nome}">
                <label>Buscar por nome:</label>
            </div>
            </div>
            <div class="row">
                <button class="waves-effect waves-light btn col s1 offset-s4" type="submit" value="Salvar"><i class="material-icons">search</i></button>
                <a href="/listapessoas">
                    <button class="waves-effect waves-light btn col s2 offset-s1" type="button" value="Listar">Listar Todos</button>
                </a>
            </div>
        </form>

        <div class="row">
        <table class="striped centered responsive-table">
            <thead>
                <th>ID</th>
                <th>NOME</th>
                <th>SOBRENOME</th>
                <th>IDADE</th>
                <th>EDITAR</th>
                <th>EXCLUIR</th>
            </thead>
            <tr th:each = "pessoa : ${pessoas}">
                <td th:text = "${pessoa.id}"></td>
                <td> <a th:href="@{/telefones/{idpessoa}(idpessoa=${pessoa.id})}" th:text = "${pessoa.nome}"></a> </td>
                <td th:text = "${pessoa.sobrenome}"></td>
                <td th:text = "${pessoa.idade}"></td>
                <td><a th:href="@{/editarpessoa/{idpessoa}(idpessoa=${pessoa.id})}">Editar</a></td>
                <td><a th:href="@{/removerpessoa/{idpessoa}(idpessoa=${pessoa.id})}">Excluir</a></td>
            </tr>
        </table>
        </div>
            <div class="row"></div>
            <div class="row"></div>
            <div class="row"></div>
            <div class="row"></div>
            <div class="row"></div>
        </div>
    </div>
<script type="text/javascript" src="/materialize/js/materialize.js"></script>
<script type="text/javascript" src="/materialize/js/materialize.min.js"></script>
</body>
</html>