<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"
            integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8="
            crossorigin="anonymous"></script>
    <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
    <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        #logout{
      position: absolute;
      top: 5%;
      left: 96%;
      transform: translate(-50%, -50%);
    }
    table td, table th{
    border: 1px splid grey;
    }
    table th{
    background: #eee;
    }
    </style>
</head>
<body>
    <div id="tela">
        <div id="logout">
            <button class="waves-effect waves-light btn red" type="button" >
                <a style="color: inherit;text-decoration: none;" href="/logout">Logout</a>
            </button>
        </div>
            <div class="container">

            <h3>Spring Boot + Thymeleaf + Material Design Lite</h3>

            <br/>
            <!--Cadastro-->
            <fieldset>
                <legend>Cadastro de Pessoas:</legend>
                <div id="cadastro">
                <div class="row" id="errors">
                    <div style="display: inline-block; margin-right: 10px;margin-bottom: 20px;" th:each="m : ${msg}">
                            <span id="error" class="btn red col-s2 offset-s1 mb-2 mt-2"  th:text="${m}"></span>
                    </div>
                </div>
                <br/>

                <form id="formpessoa" class="row" action="salvarpessoa" method="post" enctype="multipart/form-data">
                <div class="row">
                    <div class="input-field col s3">
                        <label for="id" class="active">ID:</label>
                        <input id="id" name="id" type="text" readonly="readonly" th:value="${pessoaobj.id}">

                     </div>
                    <div class="input-field col s3">
                        <label for="nome" class="active">Nome:</label>
                        <input id="nome" placeholder="Digite o nome da pessoa" name="nome" type="text" class="validate" th:value="${pessoaobj.nome}">

                    </div>
                    <div class="input-field col s3">
                        <input id="sobrenome" placeholder="Digite o sobrenome da pessoa" name="sobrenome" type="text" class="validate" th:value="${pessoaobj.sobrenome}">
                        <label for="sobrenome">Sobrenome:</label>
                    </div>
                    <div class="input-field col s3">
                        <select name="sexo" class="browser-default" th:value="${pessoaobj.sexo}">
                            <option value="" disabled selected th:text="Sexo"></option>
                            <option value="MASCULINO" th:text="Masculino"></option>
                            <option value="FEMININO" th:text="Feminino"></option>
                        </select>
                    </div>

                </div>
                <div class="row">
                    <div class="input-field col s3" >
                    <input id="idade" name="idade" placeholder="Digite a idade da pessoa" type="number" class="validate" th:value="${pessoaobj.idade}">
                    <label for="idade">Idade:</label>
                </div>
                    <div class="input-field col s3">
                        <input id="cep" name="cep" placeholder="Informe CEP válido" class="validate" th:value="${pessoaobj.cep}">
                        <label for="cep" class="active">CEP:</label>
                    </div>
                    <div class="input-field col s3">
                        <input id="rua" name="rua" class="validate" readonly="readonly" th:value="${pessoaobj.rua}">
                        <label for="rua" class="active">Rua:</label>
                    </div>
                    <div class="input-field col s3">
                        <input id="bairro" name="bairro" class="validate" readonly="readonly" th:value="${pessoaobj.bairro}">
                        <label for="bairro" class="active">Bairro:</label>
                    </div>

                </div>
                <div class="row">
                    <div class="input-field col s3">
                        <input id="cidade" name="cidade"class="validate" readonly="readonly" th:value="${pessoaobj.cidade}">
                        <label for="cidade" class="active">Cidade:</label>
                    </div>
                    <div class="input-field col s3">
                        <input id="uf" name="uf" class="validate" readonly="readonly" th:value="${pessoaobj.uf}">
                        <label for="uf" class="active">UF:</label>
                    </div>
                    <div class="input-field col s3">
                        <label for="ibge" class="active">IBGE:</label>
                        <input id="ibge" name="ibge" class="validate" readonly="readonly" th:value="${pessoaobj.ibge}">
                    </div>
                    <div class="input-field col s3">
                        <label for="dataNasc" class="active">Data Nascimento</label>
                        <input type="date" id="dataNasc" class="validate" name="dataNasc" placeholder=" " th:value="${pessoaobj.dataNasc}">
                    </div>
                </div>
                    <div class="row">
                        <div class="input-field col s3">
                            <label for="file" class="active" >Arquivo: </label>
                            <input id="file" type="file" name="curriculo" placeholder=" ">
                        </div>
                    </div>

                <div class="row">
                    <button sec:authorize="hasRole('ROLE_ADMIN')" class="waves-effect waves-light btn col s1 offset-s4 indigo darken-1" type="submit" value="Salvar">Salvar</button>
                    <button sec:authorize="hasRole('ROLE_USER')"
                            class="waves-effect waves-light btn blue-grey lighten-3 col s1 offset-s4 tooltipped"
                            type="button"
                            onclick="M.toast({html: 'Somente ADMIN pode salvar Pessoa'})">
                        Salvar</button>
                    <button class="waves-effect waves-light btn col s1 offset-s2 indigo darken-1" type="button" value="Reset" onclick="limparCampos()">Reset</button>
                </div>
            </form>
            </div>
            </fieldset>

            <div class="row">
            </div>

            <!--Consulta-->
            <fieldset>
                <legend>Consulta de Pessoas</legend>
                <form id="pesquisarpessoa" class="row" action="pesquisapessoa" method="post">
                    <div class="row">
                        <div class="input-field col s4 offset-s4">
                            <input th:value="${nomepesquisa}" id="buscar" name="nomepesquisa" type="text" class="validate">
                            <label for="buscar" class="active">Buscar por nome:</label>
                        </div>
                        <div class="cols4 offset-s4 col s4 offset-s4">
                            <select  class="browser-default" name="pesquisasexo" id="pesquisasexo">
                                <option value="null" th:text="Sexo"></option>
                                <option value="MASCULINO" th:text="Masculino"></option>
                                <option value="FEMININO" th:text="Feminino"></option>
                            </select>
                        </div>
                    </div>

                    <div class="row">
                    <button style="margin-right: 10px;" class="waves-effect waves-light btn col s1 offset-s4" type="submit" value="Salvar"><i class="material-icons">search</i></button>
                    <a  href="/listapessoas">
                        <button style="margin-right: 10px;" class="waves-effect waves-light btn col s2" type="button" value="Listar">Listar Todos</button>
                    </a>
                    <button style="margin-right: 10px; color: white;" class="waves-effect waves-light btn col s1" type="submit"
                               onclick="document.getElementById('pesquisarpessoa').method = 'get'">PDF</button>
                </div>
            </form>
            </fieldset>

            <div class="row">
            </div>

            <!--Tabela-->
            <fieldset>
                <div class="row">
                <table class="striped centered responsive-table">
                    <thead>
                        <th>ID</th>
                        <th>NOME</th>
                        <th>SOBRENOME</th>
                        <th>CEP</th>
                        <th>RUA</th>
                        <th>BAIRRO</th>
                        <th>CIDADE</th>
                        <th>UF</th>
                        <th>IBGE</th>
                        <th>SEXO</th>
                        <th>DOWNLOAD</th>
                        <th>EDITAR</th>
                        <th>EXCLUIR</th>
                    </thead>
                    <tr th:each = "pessoa : ${pessoas.content}">
                        <td th:text = "${pessoa.id}"></td>
                        <td> <a th:href="@{/telefones/{idpessoa}(idpessoa=${pessoa.id})}" th:text = "${pessoa.nome}"></a> </td>
                        <td th:text = "${pessoa.sobrenome}"></td>
                        <td th:text = "${pessoa.cep}"></td>
                        <td th:text="${pessoa.rua}"></td>
                        <td th:text="${pessoa.bairro}"></td>
                        <td th:text="${pessoa.cidade}"></td>
                        <td th:text="${pessoa.uf}"></td>
                        <td th:text="${pessoa.ibge}"></td>
                        <td th:text="${pessoa.sexo}"></td>
                        <td>
                            <a th:if="${pessoa.file != null}" th:href="@{/baixarcurriculo/{idpessoa}(idpessoa=${pessoa.id})}">Curriculo</a>
                            <span th:if="${pessoa.file == null}">Sem Curric.</span>
                        </td>
                        <td><a th:href="@{/editarpessoa/{idpessoa}(idpessoa=${pessoa.id})}">Editar</a></td>
                        <td><a th:href="@{/removerpessoa/{idpessoa}(idpessoa=${pessoa.id})}">Excluir</a></td>
                    </tr>
                </table>
                    <div class="row" style="margin-top:30px;">
                        <center>

                            <span th:if="${pessoas.hasPrevious()}" style="margin-right:20px;">
                                <a th:href="@{/pessoaspag(page=${pessoas.number-1}, size=${pessoas.size}, nomepesquisa=${nomepesquisa})}">Anterior</a>
                            </span>

                            <th:block th:each="i : ${#numbers.sequence(0, pessoas.totalPages - 1)}">
                                <a th:href="@{/pessoaspag(page=${i}, size=${pessoas.size}, nomepesquisa=${nomepesquisa})}">
                                    [[ ${i}+1 ]]
                                </a>
                            </th:block>

                            <span th:if="${pessoas.hasNext()}" style="margin-left:20px;">
                                <a th:href="@{/pessoaspag(page=${pessoas.number+1}, size=${pessoas.size}, nomepesquisa=${nomepesquisa})}">Próximo</a>
                            </span>

                        </center>
                    </div>

                </div>
            </fieldset>
            <div class="row"></div>

        </div>
    </div>

    <footer class="page-footer indigo darken-1">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Projeto Java Web Full Stack</h5>
                    <p class="grey-text text-lighten-4">Tecnologia usadas: Spring, Thymeleaf e Materialize.</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Links</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="https://github.com/arthurqueiroz4">Github</a></li>
                        <li><a  class="grey-text text-lighten-3" href="mailto:arthur.queiroz08@aluno.ifce.edu.br">Enviar E-mail</a></li>
<!--                        <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>-->
<!--                        <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>-->
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2023 Copyright Text
                <span class="grey-text text-lighten-4 right">Obrigado!</span>
            </div>
        </div>
    </footer>
    <script>

        $(document).ready(function() {
            $('dataNasc').datepicker({
        showOthermonths: true,
        format: 'yyyy-mm-dd'
    })
            function limpa_formulário_cep() {
                // Limpa valores do formulário de cep.
                $("#rua").val("");
                $("#bairro").val("");
                $("#cidade").val("");
                $("#uf").val("");
                $("#ibge").val("");
            }

            //Quando o campo cep perde o foco.
            $("#cep").blur(function() {

                //Nova variável "cep" somente com dígitos.
                var cep = $(this).val().replace(/\D/g, '');

                //Verifica se campo cep possui valor informado.
                if (cep != "") {

                    //Expressão regular para validar o CEP.
                    var validacep = /^[0-9]{8}$/;

                    //Valida o formato do CEP.
                    if(validacep.test(cep)) {

                        //Preenche os campos com "..." enquanto consulta webservice.
                        $("#rua").val("...");
                        $("#bairro").val("...");
                        $("#cidade").val("...");
                        $("#uf").val("...");
                        $("#ibge").val("...");

                        //Consulta o webservice viacep.com.br/
                        $.getJSON("https://viacep.com.br/ws/"+ cep +"/json/?callback=?", function(dados) {

                            if (!("erro" in dados)) {
                                //Atualiza os campos com os valores da consulta.
                                $("#rua").val(dados.logradouro);
                                $("#bairro").val(dados.bairro);
                                $("#cidade").val(dados.localidade);
                                $("#uf").val(dados.uf);
                                $("#ibge").val(dados.ibge);
                            } //end if.
                            else {
                                //CEP pesquisado não foi encontrado.
                                limpa_formulário_cep();
                                alert("CEP não encontrado.");
                            }
                        });
                    } //end if.
                    else {
                        //cep é inválido.
                        limpa_formulário_cep();
                        alert("Formato de CEP inválido.");
                    }
                } //end if.
                else {
                    //cep sem valor, limpa formulário.
                    limpa_formulário_cep();
                }
            });
        });

    function limparCampos(){
        const formulario = document.querySelector('#formpessoa');
        const campos = formulario.querySelectorAll('input, textarea');

        campos.forEach(campo => {
          campo.value = "";
        });
        $("#idade").val(0);
        let errors = document.getElementById('errors');
        errors.innerHTML= '';

    }

    const elemsTooltip = document.querySelectorAll(".tooltipped");
    const instanceTooltip = M.Tooltip.init(elemsTooltip, {
    html: "Somente ADMIN pode salvar Pessoa",
    position: "right"
    });



    </script>
</body>
</html>