<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <!-- Adicionando JQuery -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"
            integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8="
            crossorigin="anonymous"></script>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <<!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div id="tela">
        <div class="container">
        <h3>Spring Boot + Thymeleaf + Material Design Lite</h3><br/>
        <div class="row">
            <h5 class="col s4">Cadastro de Pessoas:</h5>
        </div>
        <br/>
        <div id="cadastro">
            <div class="row">
                <div style="display: inline-block; margin-right: 10px;margin-bottom: 20px;" th:each="m : ${msg}">
                        <span class="btn red col-s2 offset-s1 mb-2 mt-2"  th:text="${m}"></span>
                </div>
            </div>
            <br/>
            <form id="formpessoa" class="row" action="salvarpessoa" method="post">
            <div class="row">
                <div class="input-field col s3">
                    <label for="id" class="active">ID:</label>
                    <input id="id" name="id" type="text" readonly="readonly" th:value="${pessoaobj.id}">

                 </div>
                <div class="input-field col s3">
                    <label for="nome" class="active">Nome:</label>
                    <input id="nome" placeholder="Digite o nome da pessoa" name="nome" type="text" class="validate" th:value="${pessoaobj.nome}">

                </div>
                <div class="input-field col s3">
                    <input id="sobrenome" placeholder="Digite o sobrenome da pessoa" name="sobrenome" type="text" class="validate" th:value="${pessoaobj.sobrenome}">
                    <label for="sobrenome">Sobrenome:</label>
                </div>
                <div class="input-field col s3" >
                    <input id="idade" name="idade" placeholder="Digite a idade da pessoa" type="number" class="validate" th:value="${pessoaobj.idade}">
                    <label for="idade">Idade:</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s3">
                    <input id="cep" name="cep" placeholder="Informe CEP válido" class="validate" th:value="${pessoaobj.cep}">
                    <label for="cep" class="active">CEP:</label>
                </div>
                <div class="input-field col s3">
                    <input id="rua" name="rua" class="validate" readonly="readonly" th:value="${pessoaobj.rua}">
                    <label for="rua" class="active">Rua:</label>
                </div>
                <div class="input-field col s3">
                    <input id="bairro" name="bairro" class="validate" readonly="readonly" th:value="${pessoaobj.bairro}">
                    <label for="bairro" class="active">Bairro:</label>
                </div>
                <div class="input-field col s3">
                    <input id="cidade" name="cidade"class="validate" readonly="readonly" th:value="${pessoaobj.cidade}">
                    <label for="cidade" class="active">Cidade:</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s3">
                    <input id="uf" name="uf" class="validate" readonly="readonly" th:value="${pessoaobj.uf}">
                    <label for="uf" class="active">UF:</label>
                </div>
                <div class="input-field col s3">
                    <label for="ibge" class="active">IBGE:</label>
                    <input id="ibge" name="ibge" class="validate" readonly="readonly" th:value="${pessoaobj.ibge}">

                </div>
            </div>



                <button class="waves-effect waves-light btn col s1 offset-s4 indigo darken-1" type="submit" value="Salvar">Salvar</button>
                <button class="waves-effect waves-light btn col s1 offset-s2 indigo darken-1" type="button" value="Reset" onclick="limparCampos()">Reset</button>

        </form>
        </div>
        <div class="row">
        </div>
        <form class="row" action="pesquisapessoa" method="post">
            <div class="row">
            <div class="input-field col s4 offset-s4">
                <input name="nomepesquisa" type="text" class="validate" th:value="${pessoaobj.nome}">
                <label>Buscar por nome:</label>
            </div>
            </div>
            <div class="row">
                <button class="waves-effect waves-light btn col s1 offset-s4" type="submit" value="Salvar"><i class="material-icons">search</i></button>
                <a href="/listapessoas">
                    <button class="waves-effect waves-light btn col s2 offset-s1" type="button" value="Listar">Listar Todos</button>
                </a>
            </div>
        </form>

        <div class="row">
        <table class="striped centered responsive-table">
            <thead>
                <th>ID</th>
                <th>NOME</th>
                <th>SOBRENOME</th>
                <th>IDADE</th>
                <th>CEP</th>
                <th>RUA</th>
                <th>BAIRRO</th>
                <th>CIDADE</th>
                <th>UF</th>
                <th>IBGE</th>
                <th>EDITAR</th>
                <th>EXCLUIR</th>
            </thead>
            <tr th:each = "pessoa : ${pessoas}">
                <td th:text = "${pessoa.id}"></td>
                <td> <a th:href="@{/telefones/{idpessoa}(idpessoa=${pessoa.id})}" th:text = "${pessoa.nome}"></a> </td>
                <td th:text = "${pessoa.sobrenome}"></td>
                <td th:text = "${pessoa.idade}"></td>
                <td th:text = "${pessoa.cep}"></td>
                <td th:text="${pessoa.rua}"></td>
                <td th:text="${pessoa.bairro}"></td>
                <td th:text="${pessoa.cidade}"></td>
                <td th:text="${pessoa.uf}"></td>
                <td th:text="${pessoa.ibge}"></td>
                <td><a th:href="@{/editarpessoa/{idpessoa}(idpessoa=${pessoa.id})}">Editar</a></td>
                <td><a th:href="@{/removerpessoa/{idpessoa}(idpessoa=${pessoa.id})}">Excluir</a></td>
            </tr>
        </table>
        </div>
            <div class="row"></div>
            <div class="row"></div>
            <div class="row"></div>
            <div class="row"></div>
            <div class="row"></div>
        </div>
    </div>
    <script>

        $(document).ready(function() {

            function limpa_formulário_cep() {
                // Limpa valores do formulário de cep.
                $("#rua").val("");
                $("#bairro").val("");
                $("#cidade").val("");
                $("#uf").val("");
                $("#ibge").val("");
            }

            //Quando o campo cep perde o foco.
            $("#cep").blur(function() {

                //Nova variável "cep" somente com dígitos.
                var cep = $(this).val().replace(/\D/g, '');

                //Verifica se campo cep possui valor informado.
                if (cep != "") {

                    //Expressão regular para validar o CEP.
                    var validacep = /^[0-9]{8}$/;

                    //Valida o formato do CEP.
                    if(validacep.test(cep)) {

                        //Preenche os campos com "..." enquanto consulta webservice.
                        $("#rua").val("...");
                        $("#bairro").val("...");
                        $("#cidade").val("...");
                        $("#uf").val("...");
                        $("#ibge").val("...");

                        //Consulta o webservice viacep.com.br/
                        $.getJSON("https://viacep.com.br/ws/"+ cep +"/json/?callback=?", function(dados) {

                            if (!("erro" in dados)) {
                                //Atualiza os campos com os valores da consulta.
                                $("#rua").val(dados.logradouro);
                                $("#bairro").val(dados.bairro);
                                $("#cidade").val(dados.localidade);
                                $("#uf").val(dados.uf);
                                $("#ibge").val(dados.ibge);
                            } //end if.
                            else {
                                //CEP pesquisado não foi encontrado.
                                limpa_formulário_cep();
                                alert("CEP não encontrado.");
                            }
                        });
                    } //end if.
                    else {
                        //cep é inválido.
                        limpa_formulário_cep();
                        alert("Formato de CEP inválido.");
                    }
                } //end if.
                else {
                    //cep sem valor, limpa formulário.
                    limpa_formulário_cep();
                }
            });
        });

    function limparCampos(){
        const formulario = document.querySelector('#formpessoa');
        const campos = formulario.querySelectorAll('input, textarea');

        campos.forEach(campo => {
          campo.value = "";
        });
        $("#idade").val(0);
    }
    </script>
</body>
</html>