<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        html, body {
            height: 100%;
        }
        #tela {
          position: absolute; /* Define a posição absoluta para centralizar */
          width: 100%;
          top: 0%; /* Define o topo em 50% da altura do elemento pai */

        }
    </style>
</head>
<body>
    <div id="tela">
        <div class="container">
            <h3>Spring Boot + Thymeleaf + Material Design Lite</h3><br/>
            <div class="row">
                <h5 class="center-align col s4 offset-s4">Cadastro de Pessoas:</h5>
            </div>
            <br/>

            <!--Dados da Pessoa-->
            <fieldset>
                <legend> Dados da Pessoa </legend>
                <div class="row">
            <form>
                <div class="row">
                    <div class="input-field col s3">
                    <label for="id" class="active">ID:</label>
                    <input id="id" readonly="readonly" th:value="${pessoaobj.id}">
                    </div>
                    <div class="input-field col s3">
                    <label for="nome" class="active">Nome:</label>
                    <input id="nome" readonly="readonly" th:value="${pessoaobj.nome}">
                    </div>
                    <div class="input-field col s3">
                        <label for="sobrenome" class="active">Sobrenome:</label>
                        <input id="sobrenome" readonly="readonly" th:value="${pessoaobj.sobrenome}">
                    </div>
                    <div class="input-field col s3">
                        <label for="idade" class="active">Idade:</label>
                        <input id="idade" readonly="readonly" th:value="${pessoaobj.idade}">
                    </div>
                </div>
            </form>
            <div class="row">
                <a class="waves-effect waves-light btn col s1 offset-s11" href="/cadastropessoa">Home</a>
            </div>
            </div>
            </fieldset>

            <div class="row"></div>

            <!--Formulario de Telefone-->
            <fieldset>
                <legend> Telefone </legend>
                <div class="row">
                <form th:action="@{/addfonePessoa/{pessoaid}(pessoaid=${pessoaobj.id})}" onsubmit="return validarCampos() ? true : false" method="post" class="col s12">
                    <div class="row">
                        <div class="input-field col s6">
                            <label class="active" for="numero">Número:</label>
                            <input id="numero" name="numero" type="text" class="validate" th:value="${telefoneobj.numero}">
                        </div>
                        <div class="input-field col s6">
                            <label class="active" for="tipo">Tipo:</label>
                            <input id="tipo" name="tipo" type="text" class="validate" th:value="${telefoneobj.tipo}">
                        </div>
                        <button type="submit" class="waves-effect waves-light btn col s1 offset-s11 indigo darken-1">Salvar</button>
                    </div>
                </form>
            </div>
            </fieldset>
            <div class="row"></div>
            <!--Tabela-->
            <fieldset>
            <table class="striped centered responsive-table">
                <thead>
                    <th>ID</th>
                    <th>NÚMERO</th>
                    <th>TIPO</th>
                </thead>
                <tr th:each="fone : ${telefones}">
                    <td th:text="${fone.id}"></td>
                    <td th:text="${fone.numero}"></td>
                    <td th:text="${fone.tipo}"></td>
                    <td><a th:href="@{/removertelefone/{idtelefone}(idtelefone=${fone.id})}">Excluir</a></td>
                </tr>
            </table>
            </fieldset>

            <div class="row"></div>
            <div class="row"></div>
            <div class="row"></div>

        </div>
        <footer class="page-footer indigo darken-1">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Projeto Java Web Full Stack</h5>
                    <p class="grey-text text-lighten-4">Tecnologia usadas: Spring, Thymeleaf e Materialize.</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Links</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="https://github.com/arthurqueiroz4">Github</a></li>
                        <li><a  class="grey-text text-lighten-3" href="mailto:arthur.queiroz08@aluno.ifce.edu.br">Enviar E-mail</a></li>
                        <!--                        <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>-->
                        <!--                        <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>-->
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2023 Copyright Text
                <span class="grey-text text-lighten-4 right">Obrigado!</span>
            </div>
        </div>
    </footer>
    </div>


<script type="text/javascript">
  function validarCampos(){
	  numero = document.getElementById('numero').value;
	  tipo = document.getElementById('tipo').value;
	  if (numero === ''){
		  alert('Numero deve ser informado');
		  return false;
	  }
	  else if (tipo === '') {
		  alert('Tipo deve ser informado');
		  return false;
	  }

	  return true;
  }
 </script>
</body>
</html>