<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <meta charset="UTF-8">
  <title>Insert title here</title>
  <style>
    #bloco{
      position: absolute;
      top: 45%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  </style>
</head>
<body id="bloco" class="center-align">


<div class="row">
  <h1>Olá Spring Boot</h1>
</div>
<div class="row">
  <a class="waves-effect waves-light btn col s6 offset-s3" href="/login">Cadastro de pessoa</a>
</div>
<div class="row"></div>
<div class="row">
  <img align="top" height="60" width="80" src="https://seeklogo.com/images/M/materialize-logo-0FCAD8A6F8-seeklogo.com.png">
  <img height="60" width="80" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/spring/spring-original-wordmark.svg">
  <img height="60" width="80" src="https://img.icons8.com/?size=512&id=iWpVsSkAqPpZ&format=png">
</div>


</body>
</html>